body {
  background-color: antiquewhite;
}

article {
    border: 1px solid burlywood;
    padding: 5px;
    margin: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
body {
  background-color: rgb(235, 210, 157);
}
article {
    max-width: calc(33vw - 44px);
}

}
